.card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: default;
  border: 1px solid grey;
  border-radius: 5px;
  background: #ececec;
  width: 70px;
  height: 100px;
  font-weight: bold;
}

.highlighted {
  scale: 1.12;
}

.black {
  color: var(--black);
}

.red {
  color: var(--red);
}
